<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- Feed permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="false"
        android:resizeableActivity="false"
        android:name="com.jiadanni.launcher4d.AppObject"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:launchMode="singleTask"
        android:stateNotNeeded="true"
        android:taskAffinity=""
        android:theme="@style/Home.Light"
        android:localeConfig="@xml/locales_config"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name="com.jiadanni.launcher4d.activity.OnBoardActivity"
            android:exported="true"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:theme="@style/IntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jiadanni.launcher4d.activity.HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Support for assist app -->
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jiadanni.launcher4d.activity.AutoFinishActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.jiadanni.launcher4d.activity.MinibarEditActivity"
            android:label="@string/minibar"
            android:parentActivityName="com.jiadanni.launcher4d.activity.HomeActivity"
            android:theme="@style/NormalActivity.Light" />
        <activity
            android:name="com.jiadanni.launcher4d.activity.SettingsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/pref_title__settings"
            android:theme="@style/NormalActivity.Light" />
        <activity
            android:name="com.jiadanni.launcher4d.activity.HideAppsActivity"
            android:label="@string/app_name"
            android:theme="@style/NormalActivity.Light" />
        <activity
            android:name="com.jiadanni.launcher4d.activity.MoreInfoActivity"
            android:parentActivityName="com.jiadanni.launcher4d.activity.SettingsActivity"
            android:theme="@style/NormalActivity.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jiadanni.launcher4d.activity.SettingsActivity" />
        </activity>



        <receiver
            android:name="com.jiadanni.launcher4d.receivers.DeviceAdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
        </receiver>

        <service
            android:name="com.jiadanni.launcher4d.notifications.NotificationListener"
            android:exported="true"
            android:label="@string/icon_badge_service_title"
            android:enabled="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="androidx.core.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
